@model FMI_web.Pages.Shared._HeaderModel
@{
}

<nav>
    <div class="webname">
        <a asp-page="Index">
            <img src="~/icons/fmi_logo.png" alt="fmi_logo" />
            <span>@Defs.VIEWDATA_DEFAULTNAME</span>
        </a>
    </div>
    <ul class="mainnav" id="menu">
        <li class="menuItem">
            <span>Освітня діяльність</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_OSV_D)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Про факультет</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_PRO_F)</ul>
            </div>
        </li>
        <li><a href="/Abiturient">Абітурієнту</a></li>
        <li class="menuItem">
            <span>Кафедри</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_KAF)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Скринька довіри</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_SKR_D)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Онлайн розклад</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_ONL_R)</ul>
            </div>
        </li>
    </ul>
    <div class="searchlog">
        <button><img src="~/icons/search.svg" class="icon search" alt="search" /></button>
        <button><img src="~/icons/login.svg" class="icon" alt="login" /></button>
        <button><img src="~/icons/news.svg" class="icon mobile" alt="news" onclick="toggleNews()" /></button>
        <button><img src="~/icons/menu.svg" class="icon mobile" alt="menu" onclick="toggleMenu()" /></button>
    </div>
</nav>