@model FMI_web.Pages.Shared._HeaderModel
@{
    Model.Access = Context.Session.GetString(Defs.SESSION_ACCESS);
}

<nav>
    <div class="webname">
        <a asp-page="Index">
            <img src="~/icons/fmi_logo.png" alt="fmi_logo" />
            <span>@Defs.VIEWDATA_DEFAULTNAME</span>
        </a>
    </div>
    <ul class="mainnav" id="menu">
        <li class="menuItem">
            <span>Освітня діяльність</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_OSV_D)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Про факультет</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_PRO_F)</ul>
            </div>
        </li>
        <li><a href="/Abiturient">Абітурієнту</a></li>
        <li class="menuItem">
            <span>Кафедри</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_KAF)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Скринька довіри</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_SKR_D)</ul>
            </div>
        </li>
        <li class="menuItem">
            <span>Онлайн розклад</span>
            <img class="mobile" src="~/icons/next.svg" />
            <div class="wrapper nondisplay">
                <ul>@Model.GenerateMenuMain(Defs.MENU_ONL_R)</ul>
            </div>
        </li>
    </ul>
    <div class="searchlog">
        <button><img src="~/icons/search.svg" class="icon search" alt="search" /></button>
        @{
            if (string.IsNullOrEmpty(Context.Session.GetString(Defs.SESSION_ACCESS)))
            {
                <button onclick="toggleLogin()"><img src="~/icons/login.svg" class="icon" alt="login" /></button>
            }
            else
            {
                <form method="post" action="/Handlers?handler=logout">
                    <button type="submit"><img src="~/icons/logout.svg" class="icon" alt="logout" /></button>
                </form>
            }
        }
        <button onclick="toggleNews()"><img src="~/icons/news.svg" class="icon mobile" alt="news" /></button>
        <button onclick="toggleMenu()"><img src="~/icons/menu.svg" class="icon mobile" alt="menu" /></button>
    </div>
</nav>
@{
    if (string.IsNullOrEmpty(Context.Session.GetString(Defs.SESSION_ACCESS)))
    {
        <div class="loginScreen" id="loginScreen" style="display: none;">
            <div>
                <button><img src="~/icons/close_menu.svg" alt="Login close" onclick="toggleLogin()" /></button>
                <form method="post" action="/Handlers?handler=login">
                    <label for="login">Логін:</label>
                    <input type="text" name="login" required />
                    <label for="password">Пароль:</label>
                    <input type="password" name="password" required />
                    <input type="submit" value="Зайти" />
                    <span id="errorMessage">@HandlersModel.LoginErrorMessage</span>
                </form>
            </div>
        </div>
    }
}