@page
@model FMI_web.Pages.MaineditorModel

<main>
    @{
        switch (Model.TypeOfEdit)
        {
            case Defs.TYPE_EDIT_ADD:
                ViewData[Defs.VIEWDATA_PAGENAME] = "Створити сторінку";
                <form asp-page-handler="add" onsubmit="return getContent()">
                    <label asp-for="PageType">Тип сторінки:</label>
                    <select asp-for="PageType" id="selectType" onchange="changeSelect()" required>
                        <option value="page" selected>Сторінка</option>
                        <option value="link">Посилання</option>
                        <option value="list">Список</option>
                    </select>
                    <label asp-for="PageName">Назва сторінки:</label>
                    <input type="text" asp-for="PageName" required />
                    <div id="contentEditor" class="contentEditor">
                        <div class="editTools">
                            <button type="button" id="boldButton">Жирний</button>
                            <button type="button" id="italicButton">Курсив</button>
                            <button type="button" id="underlineButton">Підкреслений</button>
                            <button type="button" id="ulButton">Невпорядкований список</button>
                            <button type="button" id="olButton">Нумерований список</button>
                            <button type="button" onclick="toggleLinkAdd()">Посилання</button>
                            <label type="button" id="imageButton" for="imageInput">Картинка</label>
                            <input type="file" id="imageInput" accept="image/png, image/jpeg" />
                            <div class="hidden" id="linkAdd">
                                <label for="linkAddInput">Посилання на сторінку:</label>
                                <input type="text" id="linkAddInput" />
                                <button type="button" id="linkAddButton">Додати посилання</button>
                            </div>
                        </div>
                        <label>Контент сторінки:</label>
                        <div contenteditable="true" id="editorPageEditor"></div>
                    </div>
                    <div id="pageContentLink" class="contentEditor hidden">
                        <label asp-for="PageContentLink">Посилання на сторінку:</label>
                        <input type="text" asp-for="PageContentLink" />
                    </div>
                    <textarea asp-for="PageContent" id="editorPageContent" style="display:none"></textarea>
                    <input type="hidden" asp-for="TypeOfEdit" value="@Model.TypeOfEdit" />
                    <input type="hidden" asp-for="Parent" value="@Model.Parent" />
                    <span id="errorMessage">@Model.ErrorMessage</span>
                    <input type="submit" value="Створити" />
                </form>
                break;
            case string check when (check == Defs.TYPE_EDIT_EDIT &&
                Hashtables.MainPages.ContainsKey(Model.FullPageName ?? "")):
                ViewData[Defs.VIEWDATA_PAGENAME] = "Редагувати сторінку";
                <form asp-page-handler="remove">
                    <input type="hidden" asp-for="FullPageName" value="@Model.FullPageName" />
                    <label>Видалити сторінку:</label>
                    <input type="submit" value="Видалити" />
                </form>
                <form asp-page-handler="edit" onsubmit="return getContent()">
                    <label asp-for="PageType">Тип сторінки:</label>
                    <select asp-for="PageType" id="selectType" onchange="changeSelect()" required>
                        @{
                            if (Hashtables.MainPages[Model.FullPageName ?? ""].Type == Defs.TYPE_LINK)
                            {
                                <option value="page">Сторінка</option>
                                <option value="link" selected>Посилання</option>
                                <option value="list">Список</option>
                            }
                            else if (Hashtables.MainPages[Model.FullPageName ?? ""].Type == Defs.TYPE_LIST)
                            {
                                <option value="page">Сторінка</option>
                                <option value="link">Посилання</option>
                                <option value="list" selected>Список</option>
                            }
                            else
                            {
                                <option value="page" selected>Сторінка</option>
                                <option value="link">Посилання</option>
                                <option value="list">Список</option>
                            }
                        }
                    </select>
                    <label asp-for="PageName" onload="changeSelect()">Назва сторінки:</label>
                    <input type="text" asp-for="PageName" value="@Hashtables.MainPages[Model.FullPageName ?? ""].Name" required />
                    <div id="contentEditor" class="contentEditor">
                        <div class="editTools">
                            <button type="button" id="boldButton">Жирний</button>
                            <button type="button" id="italicButton">Курсив</button>
                            <button type="button" id="underlineButton">Підкреслений</button>
                            <button type="button" id="ulButton">Невпорядкований список</button>
                            <button type="button" id="olButton">Нумерований список</button>
                            <button type="button" onclick="toggleLinkAdd()">Посилання</button>
                            <label type="button" id="imageButton" for="imageInput">Картинка</label>
                            <input type="file" id="imageInput" accept="image/png, image/jpeg" />
                            <div class="hidden" id="linkAdd">
                                <label for="linkAddInput">Посилання на сторінку:</label>
                                <input type="text" id="linkAddInput" />
                                <button type="button" id="linkAddButton">Додати посилання</button>
                            </div>
                        </div>
                        <label>Контент сторінки:</label>
                        <div contenteditable="true" id="editorPageEditor">
                            @{
                                if (@Hashtables.MainPages[Model.FullPageName ?? ""].Type == Defs.TYPE_PAGE)
                                    @Html.Raw(Hashtables.MainPages[Model.FullPageName ?? ""].Content)
                            }
                        </div>
                    </div>
                    <div id="pageContentLink" class="contentEditor hidden">
                        <label asp-for="PageContentLink">Посилання на сторінку:</label>
                        @{
                            if (@Hashtables.MainPages[Model.FullPageName ?? ""].Type == Defs.TYPE_LINK)
                            {
                                <input type="text" asp-for="PageContentLink" value="@Hashtables.MainPages[Model.FullPageName ?? ""].Content" />
                            }
                            else
                            {
                                <input type="text" asp-for="PageContentLink" />
                            }
                        }
                    </div>
                    <textarea asp-for="PageContent" id="editorPageContent" style="display:none"></textarea>
                    <input type="hidden" asp-for="TypeOfEdit" value="@Model.TypeOfEdit" />
                    <input type="hidden" asp-for="FullPageName" value="@Model.FullPageName" />
                    <span id="errorMessage">@Model.ErrorMessage</span>
                    <input type="submit" value="Змінити" />
                </form>
                break;
            default:
                ViewData[Defs.VIEWDATA_PAGENAME] = "Помилка";
                <partial name="_Error" />
                break;
        }
    }
</main>
<script src="~/js/form.js"></script>