@page
@model FMI_web.Pages.NewseditorModel
@{
}

<main>
    @{
        if (HttpContext.Session.GetString(Defs.SESSION_ACCESS) == Defs.USER_ADMIN_ACCESS 
        || HttpContext.Session.GetString(Defs.SESSION_ACCESS) == Defs.USER_MODERATOR_ACCESS)
        {
            switch (Model.TypeOfEdit)
        {
            case Defs.TYPE_EDIT_ADD:
                ViewData[Defs.VIEWDATA_PAGENAME] = "Створити сторінку";
                <form asp-page-handler="add" method="post" enctype="multipart/form-data" onsubmit="return getContent()">
                    <label asp-for="PageLogo">Картинка сторінки:</label>
                    <input type="file" asp-for="PageLogo" accept="image/png, image/jpeg" required />
                    <label asp-for="PageTag">Тег новини:</label>
                    <select asp-for="PageTag" id="selectType" onchange="changeSelect()" required>
                        <option value="Новини" selected>Новини</option>
                        <option value="Оголошення">Оголошення</option>
                    </select>
                    <label asp-for="PageName">Назва сторінки:</label>
                    <input type="text" asp-for="PageName" required />
                    <div id="contentEditor" class="contentEditor">
                        <div class="editTools">
                            <button type="button" id="boldButton">Жирний</button>
                            <button type="button" id="italicButton">Курсив</button>
                            <button type="button" id="underlineButton">Підкреслений</button>
                            <button type="button" id="ulButton">Невпорядкований список</button>
                            <button type="button" id="olButton">Нумерований список</button>
                            <button type="button" onclick="toggleLinkAdd()">Посилання</button>
                            <label type="button" id="imageButton" for="imageInput">Картинка</label>
                            <input type="file" id="imageInput" accept="image/png, image/jpeg" />
                            <div class="hidden" id="linkAdd">
                                <label for="linkAddInput">Посилання на сторінку:</label>
                                <input type="text" id="linkAddInput" />
                                <button type="button" id="linkAddButton">Додати посилання</button>
                            </div>
                        </div>
                        <label>Контент сторінки:</label>
                        <div contenteditable="true" id="editorPageEditor"></div>
                    </div>
                    <textarea asp-for="PageContent" id="editorPageContent" style="display:none"></textarea>
                    <input type="hidden" asp-for="TypeOfEdit" value="@Model.TypeOfEdit" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <span id="errorMessage">@Model.ErrorMessage</span>
                    <input type="submit" value="Створити" />
                </form>
                break;
            case string check when (check == Defs.TYPE_EDIT_EDIT && Model.Id >= 0 
                && Model.Id < Hashtables.NewsPages.Count):
                ViewData[Defs.VIEWDATA_PAGENAME] = "Редагувати сторінку";
                <form asp-page-handler="remove" method="post">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <label>Видалити сторінку:</label>
                    <input type="submit" value="Видалити" />
                </form>
                <form asp-page-handler="edit" method="post" enctype="multipart/form-data" onsubmit="return getContent()">
                    <label asp-for="PageLogo">Картинка сторінки:</label>
                    <input type="file" asp-for="PageLogo" accept="image/png, image/jpeg"/>
                    <label asp-for="PageTag">Тег новини:</label>
                    <select asp-for="PageTag" id="selectType" onchange="changeSelect()" required>
                        @{
                            if (Hashtables.NewsPages[(int)Model.Id].Tag == "Новини")
                            {
                                <option value="Новини" selected>Новини</option>
                                <option value="Оголошення">Оголошення</option>
                            }
                            else
                            {
                                <option value="Новини">Новини</option>
                                <option value="Оголошення" selected>Оголошення</option>
                            }
                        }
                    </select>
                    <label asp-for="PageName" onload="changeSelect()">Назва сторінки:</label>
                    <input type="text" asp-for="PageName" value="@Hashtables.NewsPages[(int)Model.Id].Name" required />
                    <div id="contentEditor" class="contentEditor">
                        <div class="editTools">
                            <button type="button" id="boldButton">Жирний</button>
                            <button type="button" id="italicButton">Курсив</button>
                            <button type="button" id="underlineButton">Підкреслений</button>
                            <button type="button" id="ulButton">Невпорядкований список</button>
                            <button type="button" id="olButton">Нумерований список</button>
                            <button type="button" onclick="toggleLinkAdd()">Посилання</button>
                            <label type="button" id="imageButton" for="imageInput">Картинка</label>
                            <input type="file" id="imageInput" accept="image/png, image/jpeg" />
                            <div class="hidden" id="linkAdd">
                                <label for="linkAddInput">Посилання на сторінку:</label>
                                <input type="text" id="linkAddInput" />
                                <button type="button" id="linkAddButton">Додати посилання</button>
                            </div>
                        </div>
                        <label>Контент сторінки:</label>
                        <div contenteditable="true" id="editorPageEditor">
                            @Html.Raw(Hashtables.NewsPages[(int)Model.Id].Content)
                        </div>
                    </div>
                    <textarea asp-for="PageContent" id="editorPageContent" style="display:none"></textarea>
                    <input type="hidden" asp-for="TypeOfEdit" value="@Model.TypeOfEdit" />
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <span id="errorMessage">@Model.ErrorMessage</span>
                    <input type="submit" value="Змінити" />
                </form>
                break;
            default:
                ViewData[Defs.VIEWDATA_PAGENAME] = "Помилка";
                <partial name="_Error" />
                break;
        }
        }
        else
        {
            ViewData[Defs.VIEWDATA_PAGENAME] = "Помилка";
            <partial name="_Error" />
        }
    }
</main>
<script src="~/js/form.js"></script>